################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
/.vs
/BioMetrixCore/bin/Debug
/BioMetrixCore/obj
*.config
/BioMetrixCore/BioMetrixCore.csproj.user
